* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z3ltfGVufDB8fDB8fHww&w=1000&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(43, 43, 43);
    background-blend-mode: multiply;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
}

/* PAGE ADJUSTERS */

.nav-container {
    min-width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    z-index: 99;
    box-shadow: inset 0px -4px 3px rgba(100, 100, 100, 0.75)
}

.user-login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(45deg, rgb(12, 12, 12), rgb(59, 59, 59));
    box-shadow: 1px 2px 5px 5px rgb(135, 135, 135);
    padding: 2rem 1rem 1rem 1rem;
}

.create-account-page {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(45deg, rgb(12, 12, 12), rgb(59, 59, 59));
    box-shadow: 1px 2px 5px 5px rgb(135, 135, 135);
    padding: 1rem;
}

.calendar-page {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.exercises-group-page {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.exercises-display-page {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.footer-container {
    min-width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    z-index: 99;
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

/* PAGE ADJUSTERS END */

.page-title {
    font-size: 2rem;
}

.credits {
    font-weight: 700;
}

.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 98;
    background: linear-gradient(45deg, rgb(12, 12, 12), rgb(59, 59, 59));
    transition: 0.4s;
}

.menu-container.is-active {
    left: 0;
}

.nav-item {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 50px;
    border-radius: 10px;
    text-align: center;
    padding: 1rem 5rem;
    white-space: nowrap;
    background-color: #0C2AC7;
}

.nav-item:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #2443de;
}

.calendar-button {
    display: none;
    padding: 0.7rem 3rem;
    background-color: #0C2AC7;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.calendar-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #2443de;
}

.login-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-right: 2.25rem;
    margin-bottom: 1rem;
}

.username-label {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
}

.username-input {
    height: 2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
    padding-left: 5px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-button {
    padding: 0.5rem 4rem;
    background-color: #0C2AC7;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.login-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #2443de;
}

.create-account-button {
    padding: 0.7rem 2.5rem;
    background-color: #4CA82B;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.create-account-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #66e03a;
}

.delete-account-button {
    padding: 0.5rem 2rem;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.delete-account-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: rgb(255, 81, 81);
}

.back-arrow {
    padding: 0.5rem 16rem;
    margin-bottom: 2rem;
    position: relative;
}

.fa-arrow-left {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.fa-arrow-left:hover {
    cursor: pointer;
}

.create-account-title {
    margin-bottom: 2rem;
}

/* CALENDAR PAGE */

.page-greeting {
    font-size: 3rem;
}

.calendar-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-content: center;
    align-items: start;
    width: 90vw;
    border-radius: 10px;
    min-height: 60vh;
}

.day-container {
    margin: 1rem 0.5rem;
}

.day-content {
    border: white solid 2px;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    background-color: rgb(68, 68, 68);
    text-align: center;
}

.exercise-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgb(147, 147, 147) solid 1px;
    border-radius: 10px;
    margin-top: 0.5rem;
}

.more-options-button {
    padding: 0 0 0.6rem 0;
    margin-right: 0.5rem;
}

.more-options-button:hover {
    cursor: pointer;
    color:#506dff;
}

.exercise-item-name {
    padding: 0 0.5rem;
}

.exercise-item-name:hover {
    cursor: pointer;
    color:#506dff;
}

.options-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.options-modal-content {
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: white solid 2px;
    padding: 2rem;
    text-align: center;
}

.option-button {
    margin: 0.5rem 0;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    color: white;
}

.option-button:hover {
    border: 2px white solid;
    cursor: pointer;
}

.complete {
    background-color:#4CA82B;
}

.incomplete {
    background-color: rgb(202, 99, 99);
}

.delete {
    background-color: red;
}

.close {
    background-color:#0C2AC7;
}

/* MUSCLE GROUPS PAGE */

.muscle-groups-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin: 2rem;
}

.muscle-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: black;
    font-size: 1.5rem;
    border-radius: 10px;
}

.chest {
    background: url('https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2022/06/960x0-3-1.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(83, 83, 83);
    background-blend-mode: multiply;
}

.arms {
    background: url('https://cdn.shopify.com/s/files/1/1876/4703/articles/shutterstock_1417778522_1000x.jpg?v=1652135490');
    background-position: center;
    background-size: cover;
    background-color: rgb(83, 83, 83);
    background-blend-mode: multiply;
}

.shoulders {
    background: url('https://i0.wp.com/www.strengthlog.com/wp-content/uploads/2023/05/shutterstock_336330470-scaled.jpg?fit=2560%2C1707&ssl=1');
    background-position: center;
    background-size: cover;
    background-color: rgb(83, 83, 83);
    background-blend-mode: multiply;
}

.back {
    background: url('https://www.muscleandfitness.com/wp-content/uploads/2018/05/1109-one-arm-dumbbell-row-back.jpg?quality=86&strip=all');
    background-position: center;
    background-size: cover;
    background-color: rgb(83, 83, 83);
    background-blend-mode: multiply;
}

.legs {
    background: url('https://www.bulknutrients.com.au/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2F263h0ltd%2Fproduction%2F8d82f2697baf4f6c159a5d883b4c9b2b319dec11-600x400.jpg%3Fw%3D600%26h%3D400%26q%3D100%26fit%3Dfillmax&w=1200&q=90');
    background-position: center;
    background-size: cover;
    background-color: rgb(83, 83, 83);
    background-blend-mode: multiply;
}

.abs {
    background: url('https://hips.hearstapps.com/womenshealth-uk/images/5020/plank_-_mistakes_-_guide_-_womens_health_uk__medium_4x3.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(83, 83, 83);
    background-blend-mode: multiply;
}

.chest:hover, .arms:hover, .shoulders:hover, .back:hover, .legs:hover, .abs:hover {
    background-color:#c3c9ea;
}

.muscle-group:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

.chest-container,
.arms-container,
.shoulders-container,
.back-container,
.legs-container,
.abs-container {
    display: none;
}

.chest-container,
.arms-container,
.shoulders-container,
.back-container,
.legs-container,
.abs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.exerciseDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 2rem;
    margin: 2rem 0;
    border: white solid 2px;
    border-radius: 10px;
    background-color: black;
}

.exercise-images {
    display: flex;
    flex-direction: column;
}

.exercise-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercise-image {
    width: 10rem;
    border-radius: 10px;
    border: white 1px solid;
}

.exercise-name {
    margin-bottom: 1rem;
}

.instruction-link {
    margin-bottom: 1rem;
}

.instruction-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.add-to-calendar-button {
    margin-top: 1.5rem;
    padding: 0.7rem 2.5rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color:#4CA82B;
    font-size: 1.5rem;
}

.add-to-calendar-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #66e03a;
}

.day-select-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.day-select-modal-content {
    background-color: black;
    width: 450px;
    height: 275px;
    border-radius: 10px;
    border: white solid 2px;
    padding: 2rem;
    text-align: center;
}

.day-modal-title {
    margin-bottom: 1rem;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.day-button {
    background-color:#0C2AC7;
    color: white;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
}

.day-button:hover {
    background-color:#2443de;
    transform: translateY(-2px);
    cursor: pointer;
}

.modal-close-button {
    text-align: right;
}

.modal-close-button:hover {
    cursor: pointer;
}

.exercise-info-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.exercise-info-modal-content {
    background-color: black;
    max-width: 390px;
    border-radius: 10px;
    border: white solid 2px;
    padding: 0.5rem;
    text-align: center;
}

.exercise-title {
    margin-bottom: 1rem;
}

.instruction-title {
    margin-top: 0.25rem;
}

.instructions {
    margin: 0.25rem 0;
    text-align: left;
}

.instruction-list-item {
    list-style-type: none;
    margin: 0.25rem;
    font-size: 0.75rem;
}

.reps,
.equipment-info,
.primary-muscle,
.secondary-muscle,
.muscle-group-image {
    margin-top: 0.25rem;
    font-weight: 700;
}

.modal-exercise-title {
    margin-bottom: 0.25rem;
}


/* RESPONSIVENESS */

@media screen and (max-width: 1250px) {
    .page-greeting {
        font-size: 2.5rem;
    }    

    .calendar-container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 50vh;
    }
}

@media screen and (max-width: 500px) {

    .user-login-page {
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 80vh;
        background: linear-gradient(45deg, rgba(12, 12, 12, 0.3), rgba(59, 59, 59, 0.3));
    }

    .create-account-page {
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 80vh;
        background: linear-gradient(45deg, rgba(12, 12, 12, 0.3), rgba(59, 59, 59, 0.3));
    }

    .username-label {
        font-size: 1rem;
    }

    .login-form {
        display: grid;
        grid-template-columns: 1fr 2fr;
        place-items: center center;
        margin-right: 0;
    }
    
    .username-input {
        height: 1.75rem;
        font-size: 1.25rem;
        width: 90%;
    }
    
    .login-button {
        padding: 0.5rem 3rem;
        font-size: 1.25rem;
    }
    
    .create-account-button {
        padding: 0.5rem 2rem;
        font-size: 1.25rem;
        margin: 0.75rem 0;
    }

    .create-account-title {
        font-size: 1.5rem;
    }

    .create-account-page {
        padding: 0;
    }

    .back-arrow {
        padding: 0.5rem 12rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .exercises-groups-title {
        font-size: 1.75rem;
        margin-top: 1rem;
    }

    .muscle-groups-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .muscle-group {
        padding: 6rem;
        max-width: 18rem;
        min-width: 18rem;
    }

    .page-greeting {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }    

    .calendar-container {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        min-height: 40vh;
    }
}
